# Number of times to run each test suite.
# Lower values are faster and cheaper but will result in higher variance.
# This must remain set to 0 in the main branch, thus completely disabling
# A/B tests, in order to avoid unnecessary runs.
repeat: 1

# Set to true to automatically create a verbatim copy of AB_baseline and then compare
# the two in the A/B tests. Set to false to save some money if you are already confident
# that the 'repeat' setting is high enough.
test_null_hypothesis: false

# Tests categories to run. These are subdirectories of tests/.
categories:
  - benchmarks
  # - runtime
  # - stability

# AWS implements limiters to how many EC2 instances you can spawn in parallel on the
# same AWS account. If such limit is reached, tests will randomly fail when trying to
# create the Coiled clusters, and restarting failed jobs won't fix the problem.
# Additionally, there are problems with Coiled itself triggered by limitations that are
# never actually reached with real paying users.
max_parallel:
  # Number of parallel A/B test jobs per branch.
  ci_jobs: 5
  # Number of parallel test_*.py modules per A/B test job.
  # Each module typically spawns one Coiled cluster at a time.
  # Set to 1 to disable pytest-xdist.
  modules_per_job: 1
