# Number of times to run each test suite.
# Lower values are faster and cheaper but will result in higher variance.
# Setting it to 5 is a good value to get statistically significant results.
# This must remain set to 0 in the main branch, thus completely disabling
# A/B tests, in order to avoid unnecessary runs.
repeat: 3

# Set to true to automatically create a verbatim copy of AB_baseline and then compare
# the two in the A/B tests. Set to false to save some money if you are already confident
# that the 'repeat' setting is high enough.
test_null_hypothesis: true

# Test directories, test files, or individual tests to run.
targets:
  # - tests
  - tests/benchmarks
  - tests/runtime
  - tests/stability
  # - tests/tpch/test_dask.py
  # - tests/benchmarks/test_futures.py
  # - tests/benchmarks/test_array.py::test_basic_sum

# pytest markers or marker expressions. See setup.cfg for available ones.
# Leave blank to run all marked and unmarked tests.
markers:
# markers: shuffle_p2p
# markers: shuffle_p2p or shuffle_tasks
# markers: not shuffle_tasks

# Enable specific H2O datasets
h2o_datasets:
  # - 0.5 GB (csv)
  # - 5 GB (csv)
  # - 50 GB (csv)
  # - 0.5 GB (parquet)
  # - 5 GB (parquet)
  # - 50 GB (parquet)
  - 5 GB (parquet+pyarrow)
  # - 50 GB (parquet+pyarrow)
  # - 500 GB (parquet+pyarrow)

# AWS implements limiters to how many EC2 instances you can spawn in parallel on the
# same AWS account. If such limit is reached, tests will randomly fail when trying to
# create the Coiled clusters, and restarting failed jobs won't fix the problem.
# Additionally, there are problems with Coiled itself triggered by limitations that are
# never actually reached with real paying users.
max_parallel:
  # Number of parallel A/B test jobs per branch.
  ci_jobs: 10
  # Number of parallel test_*.py modules per A/B test job.
  # Each module typically spawns one Coiled cluster at a time.
  # Set to 1 to disable pytest-xdist.
  pytest_workers_per_job: 4
