# Number of times to run each test suite.
# Lower values are faster and cheaper but will result in higher variance.
# This must remain set to 0 in the main branch, thus completely disabling
# A/B tests, in order to avoid unnecessary runs.
repeat: 1

# Set to true to automatically create a verbatim copy of AB_baseline and then compare
# the two in the A/B tests. Set to false to save some money if you are already confident
# that the 'repeat' setting is high enough.
test_null_hypothesis: true

# Tests categories to run. These are subdirectories of tests/.
categories:
  - benchmarks
  # - runtime
  # - stability
