# This is an addition to ci/environment.yml, which upgrades dask to the git tip.
channels:
  - conda-forge
dependencies:
  - pip
  - pip:
    - git+https://github.com/dask/dask
    - git+https://github.com/dask/distributed
    - git+https://github.com/dask/zict
    - git+https://github.com/dask-contrib/dask-expr
